<div class="container">
    <form [formGroup]="myForm">
        <div class="form-group row">
            <label for="name" class="col-sm-12 col-form-label">name</label>
            <div class="col-sm-12">
                <input type="text" class="form-control"  id="name" placeholder="name" formControlName="name">
            </div>
            <div class="col-sm-12">
            
                <div *ngIf="myForm.get('name').invalid && (myForm.get('name').dirty || myForm.get('name').touched)" class="alert alert-danger">

                    <div *ngIf="myForm.get('name').errors.required">
                        name is required.
                      </div>

                </div>
            </div>
        </div>
            
        <div class="form-group row">
            <label for="username" class="col-sm-12 col-form-label">username</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" name="username" id="username" placeholder="username" formControlName="username">
            </div>
        </div>

        <div class="form-group row" formArrayName="stars">
            <label class="col-sm-12 col-form-label">star</label>
            <div class="col-sm-1">
                <button type="button" class="btn btn-success" (click)="addStar()">add</button>
             </div>
            <div class="col-sm-1" *ngFor="let star of stars.controls; let i=index">
               <app-star [formControlName]="i"></app-star> 
            </div>
        </div>
        
        <div  formArrayName="emails">
            <fieldset class="form-group row">
                <legend class="col-form-legend col-sm-12">Emails</legend>
                <div *ngFor="let item of emails.controls; let i=index">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="email" id="email" placeholder="email"  [formControlName]="i">
                    </div>
                    <br>
                    
                </div>
                <br>
                <button type="button" class="btn btn-primary" (click)="addEmail()">add</button>
            </fieldset>
        </div>

        <div class="form-group row">
            <label for="eyo" class="col-sm-12 col-form-label">EYO</label>
            <div class="col-sm-12">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input"  id="eyo" formControlName="eyo">
                    xxx
                  </label>
                </div>
            </div>
        </div>

        <div class="form-group row">
           
            <div class="form-group">
              <label for="course">Course</label>
              <select class="form-control" id="course" formControlName="course">
                <option *ngFor="let c of courses" value='{{c.id}}'>{{c.description}}</option>
              </select>
            </div>
        </div>
        

        <button type="button" name="" id="" class="btn btn-secondary btn-lg btn-block" [disabled]="myForm.invalid">send</button>
        
    </form>
</div>

{{myForm.value | json}}

<router-outlet></router-outlet>
